.footer__container {
  display: flex;
  align-items: baseline;
}
.footer {
  background-color: var(--second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list__item--addres {
  font-family: inherit;
  font-style: normal;
  @include font(14px, 1.71, 0.03em, normal);
  color: var(--first-color);
}
.footer-list__link {
  transition: color var(--transition-time) var(--cubic);
  font-family: inherit;
  font-style: normal;
  @include font(14px, 1.71, 0.03em, normal);
  color: var(--eighth-footer-color);
  &:hover,
  &:focus {
    color: var(--btn-color);
  }
}

.footer-list__item {
  display: block;
}
.footer-list :not(:last-child) {
  margin-bottom: 9px;
}
.footer__block {
  max-width: 231px;
  margin-right: 70px;
}
.footer-social__block {
  display: block;
  margin-right: auto;
}
.footer-social__title {
  margin-bottom: 20px;
  @include font(14px, 1.14, 0.03em, bold);
  text-transform: uppercase;
  color: var(--first-color);
}
.social-list__link--white {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--first-color);
}
.subscribe-form__section {
  display: flex;
}
.subscribe-form__mail {
  width: 358px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  margin-right: 12px;
  padding-left: 16px;
  @include font(16px, 1.25, 0.03em, normal);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--eighth-footer-color);
}
.subscribe-form__btn {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
}
