.card__title {
  @include font(18px, 2, 0.06em, bold);
  margin-bottom: 4px;
  color: var(--second-text-color);
}
.card__text {
  @include font(16px, 1.86, 0.03em, normal);
  color: var(--third-text-color);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.project-list__item {
  .project-list & {
    flex-basis: calc(100% / 3 - var(--size-simple));
    margin-left: var(--size-simple);
    margin-top: var(--size-simple);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project-list__link {
  display: block;
  transition: box-shadow var(--transition-time) var(--cubic);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

/*.item-project:nth-child(3n) {
  margin-right: 0;
}
.item-project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}*/

.card {
  position: relative;
  overflow: hidden;
}
/*.over-t {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}*/

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 63px 24px;
  @include font(18px, 1.56, 0.03em, normal);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--first-color);
  transform: translateY(101%);
  transition: transform var(--transition-time) var(--cubic),
    opacity var(--transition-time) var(--cubic);
  .project-list__item:hover & {
    transform: translateY(0);
    opacity: 1;
  }
  .project-list__link:hover & {
    transform: translateY(0);
  }
  .project-list__link:focus & {
    transform: translate(0);
    opacity: 1;
  }
}

.card__squad {
  padding: 20px 24px;
  border: 1px solid var(--border-item-color);
  border-top: 0;
}
