.spc {
  max-width: 480px;
  align-items: center;
  background-color: var(--first-color);
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section_title {
  display: none;
}
.spc__list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin: -15px;
  }
}
.spc__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}
.spc__thumb {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.antenna {
  --antenna-color: var(--second-text-color);
  --antenna-accent-color: var(--btn-color);
}
.clock {
  --clock-color: var(--second-text-color);
  --clock-accent-color: var(--btn-color);
}
.diagramm {
  --diagramm-color: var(--second-text-color);
  --diagramm-accent-color: var(--btn-color);
}
.astronaut {
  --astronaut-color: var(--second-text-color);
  --astronaut-accent-color: var(--btn-color);
}
.spc__title {
  @include font(14px, 1.14, 0.03em, bold);
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.spc__text {
  display: block;
  @include font(14px, 1.71, 0.03em, normal);
  color: var(--third-text-color);
}
