.btn {
  font-family: inherit;
  @include font(16px, 1.88, 0.06em, bold);
  padding: 10px 32px;
  transition: background-color var(--transition-time) var(--cubic);
  min-width: 200px;
  min-height: 50px;
  background-color: var(--btn-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--first-color);
  border-radius: 4px;
  border: none;
  &:focus,
  &:hover {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
