body {
  font-family: "Roboto", sans-serif;
  background: var(--first-color);
  color: var(--second-text-color);
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
